/* Class for grid container - 7x7 */
.grid7x7 {
	display: grid;
	grid-template-rows: repeat(7, 75px);
	grid-template-columns: repeat(7, 75px);
	border: rgb(227, 185, 14) 2px solid;
	border-radius: 50px;
	background-image: linear-gradient(
		45deg,
		rgb(255, 245, 139),
		rgb(142, 202, 222) 30%,
		rgb(255, 245, 139) 50%,
		rgb(142, 202, 222) 80%,
		rgb(255, 245, 139) 100%
	);
	padding: 60px;
}

/* Class for parent grid - flexbox column */
.verticalParent {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

/* Class for parent toolbar - flexbox row */
.horizontalParent {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin-bottom: 20px;
}

/* Generic class for helper text */
.helperText {
	margin: 0px;
	color: black;
	font-size: 22px;
	text-shadow: 1px 1px 1px rgb(251, 251, 150);
}

/* Specialized class for error text */
.errorText {
	margin: 0px;
	color: rgb(56, 19, 19);
	font-size: 22px;
	text-shadow: 1px 1px 1px rgb(251, 251, 150);
}
.hidden {
	visibility: hidden;
}
